#toc_container {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    width: 100%;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}